.home-body {
    /* border: 1px solid; */
    height: 85vh;
    display: flex;
}

.intro-area {
    background-color: #F4F4F4;
    height: 100%;
    flex: 0.5;
    border-radius: 20px;
    margin-right: 10px;
    position: relative;
}

.intro-top-area {
    /* background-color: red; */
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.availability {
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #DEFCE4;
    padding: 7px 10px;
    color: #19A838;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.top-right a {
    color: #8F8F8F;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.name {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 22px;
}

.intro-bottom-area {
    /* background-color: green; */
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
}

.intro-bottom-area h1{
    font-size: 56px;
}

.intro-bottom-area p{
    color: #8F8F8F;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
}

/* Define the basic dot style */
.online-dot {
    width: 3px;
    height: 3px;
    margin-right: 5px;
    background-color: green;
    border-radius: 50%;
    animation: pulsate 1.5s infinite;
  }
  
  @keyframes pulsate {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.6;
    }
  }
  
  .info-area {
    background-color: black;
    height: 100%;
    flex: 0.5;
    border-radius: 20px;
    margin-left: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5fr 1.5fr;
    grid-template-areas: 
      "designs designs"
      "contact shots";
}

.info-area div{
    border-radius: 20px;
}



.designs{
    background-color: purple;
    grid-area: designs;
}

.contact{
    background-color: yellow;
    grid-area: contact;
}

.shots{
    background-color: green;
    grid-area: shots;
}




  /* Media query for the second row */
  @media screen and (min-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr); /* Second row: 3 columns equal width */
    }
  } 

  @media screen and (min-width: 900px) {
    .grid-container {
      grid-template-columns: 70% 30%; /* Third row: 70% and 30% columns */
    }
  }





















  /* .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 300px;
    margin: 0 auto;
  }
  
  .dot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }
   */