.navbar {
    height: 72px;
    /* background-color: grey; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'GT Walsheim pro', sans-serif; 
    font-weight: 700;
}

.navbar h1 {
    font-size: 26px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    margin-right: 10px;
}

.navbar p {
    font-size: 24px;
    color: #8F8F8F;
}

@media (max-width: 1000px) {
    .navbar p {
        font-size: 20px;
        color: #8F8F8F;
    }

    .navbar {
        margin: 10px 0;
    }
}


@media (max-width: 700px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
}